<template>
    <div id="app">
        <main>
            <h2 class="main__title">Телефонный справочник ПГНИУ</h2>
            <SearchField/>
            <Loader v-if="getLoading"/>
            <!-- Если вернулся пустой массив -->
            <h3 v-else-if="!getPhonesData.length">По вашему запросу ничего не найдено</h3>
            <!-- Если вернулся массив юнитов -->
            <Unit v-else-if="!getPhonesData[0].nodes" v-for="(unit, idx) in getPhonesData" :unit="unit" :key="idx"/>
            <!-- Если вернулся массив нод -->
            <Node v-else v-for="(node, idx) in getPhonesData" :node="node" :key="idx"/>
        </main>
        <Footer :lastModified="getLastModified"/>
    </div>
</template>

<script>
    import Node from "./Node";
    import Footer from "./Footer";
    import SearchField from "./SearchField";
    import Loader from "./Loader";
    import {mapGetters, mapActions} from 'vuex';
    import Unit from "./Unit";

    export default {
        name: 'App',
        components: {
            Unit,
            Loader,
            Node,
            Footer,
            SearchField
        },

        computed: {
            ...mapGetters(['getPhonesData', 'getLoading', 'getLastModified']),
            ...mapActions(['fetchPhonesData'])
        },
        created: function () {
            this.$store.dispatch('fetchPhonesData');
        }
    }
</script>

<style lang="scss">

    @import "../utils/variables";

    * {
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        background-color: $color_background;
        color: $color_text_primary;
    }

    main {
        text-align: center;
        max-width: 1280px;
        margin: 0 auto;
        padding: 20px 40px 20px 40px;
        min-height: calc(100vh - 200px);
    }

    .main__title {
        margin-top: 15px;
    }

    @media only screen and (min-width: $mobile) and (max-width: $tablet) {
        main {
            display: flex;
            flex-direction: column;
            width: auto;
            padding: 20px 20px 20px 20px;
        }

        .unit {
            margin: 10px 0 10px 0;
        }

        main div > div {
            margin-left: 0;
        }
    }
</style>
