<template>
    <footer>
        <div class="footer-wrapper">
            <div class="footer__logo-container">
                <img class="footer__logo" src="../assets/psu_logo.png" alt="psu_logo"/>
            </div>
            <div class="footer__content-container">
                <p><a href="http://www.psu.ru" target="_blank" rel="noopener noreferrer">ПЕРМСКИЙ ГОСУДАРСТВЕННЫЙ
                    НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ УНИВЕРСИТЕТ</a></p>
                <p><a href="mailto:webmaster@psu.ru">Мультимедиа-лаборатория ПГНИУ</a> &copy; {{ new
                    Date().getFullYear() }}</p>
                <p class="footer__content-eula">Информация о местонахождении, ФИО, контактных данных взята с
                    официального
                    сайта ПГНИУ и сформирована на основе утвержденной структуры (<a
                            href="http://www.psu.ru/files/docs/normativnaya_baza/ot_rectora/2018/560.pdf"
                            target="_blank"
                            rel="noopener noreferrer">приказ ректора № 560 от 9 июля 2018 г. «О структуре ПГНИУ»</a> и
                    его
                    дополнения). За достоверность представленной в телефонном справочнике информации
                    Мультимедиа-лаборатория
                    отвественности не несет (основание: <a
                            href="http://www.psu.ru/files/docs/pravila-publikacii/Prikaz%20rektora-213-01-03-2016.pdf"
                            target="_blank" rel="noopener noreferrer">приказ ректора №213 от 1 марта 2016 г. «О сверке
                        информации о подразделениях на сайте университета»</a>).</p>

                <span class="footer__content-contacts">
                <span>В случае обнаружения ошибки сообщите о ней на <a
                        href="mailto:webmaster@psu.ru">webmaster@psu.ru</a></span>
                <i v-if="lastModified">Обновлено: {{ lastModified }}</i>
            </span>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",
        props: ['lastModified'],
    }
</script>

<style lang="scss" scoped>

    @import "../utils/variables";



    footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid #d6d6d6;

        p {
            color: rgba($color_text_primary, 0.8);
            font-size: 13px;
            text-align: justify;
        }

        a {
            color: rgba($color_text_primary, 0.8);
            font-weight: bold;

            &:hover {
                color: rgba($color_text_primary, 0.8);
                font-weight: bold;
            }
        }
    }


    .footer-wrapper {
        padding: 15px 40px 15px 40px;
        max-width: 1200px;
    }

    .footer__content-eula {
        font-size: 12px;
    }

    .footer__logo-container {
        float: left;
        margin: 0 20px 0 0;
    }

    .footer__content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__content-contacts {
        display: flex;
        justify-content: space-between;
        color: rgba($color_text_primary, 0.8);
        font-size: 13px;

        i {
            color: rgba($color_text_primary, 0.2);
        }
    }


    @media only screen and (max-width: $desktop) {
        footer {
            p {
                text-align: center;
            }

            span {
                text-align: center;
            }
        }

        .footer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__content-container {
            align-items: center;
        }

        .footer__logo-container {
            margin: 0 0 15px 0;
        }
    }

</style>
