<template>
    <div class="node">
        <p class="node__title" @click="collapsed = !collapsed">{{ node.title }}</p>
        <template v-if="!collapsed">
            <template v-for="(currentNode, index) in node.nodes">
                <Node v-if="currentNode.type === 'node'" :node="currentNode" :key="currentNode.title"/>
                <Unit v-else :unit="currentNode" :key="index" />
            </template>
        </template>
    </div>
</template>

<script>
    import Unit from "@/components/Unit";

    export default {
        name: "Node",
        components: { Unit },
        props: ['node'],
        data() {
            return {
                collapsed: true
            }
        },
    }
</script>

<style lang="scss" scoped>

    @import "../utils/variables";

    .node__title {
        background-color: $color_psu_primary;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-weight: 500;
        color: white;

        &:first-child {
            font-size: 14pt;
        }
    }

    main div > div {
        margin-left: 30px;

        & .node__title {
             background-color: $color_blue;
        }

        & > div .node__title {
            background-color: $color_green;
        }

        & > div > div .node__title {
            background-color: $color_orange;
        }
    }

    @media only screen and (max-width: $tablet) {
        .node__title {
            height: auto;
        }

        main div > div {
            margin-left: 0;
        }
    }
</style>
