<template>
    <form class="search-form">
        <input
                type="text"
                class="search-form__input"
                placeholder="Поиск"
                :value="getInputValue"
                @input.prevent="setInputValue($event.target.value)"
        />
    </form>
</template>

<script>
    import {mapGetters, mapMutations} from 'vuex';

    export default {
        name: "SearchField",
        computed: mapGetters(['getInputValue']),
        methods: mapMutations(['setInputValue'])
    }
</script>

<style lang="scss" scoped>
    @import "../utils/variables";

    .search-form__input {
        margin: 30px 0 50px 0;
        padding: 15px;
        font-size: 16pt;
        min-width: auto;
        border: 0 solid transparent;
        background-color: rgba($color_gray, 0.3);
        color: $color_text_primary;
        font-weight: 600;
        border-bottom: 4px solid rgba($color_gray, 0.5);
        width: 100%;

        &:focus {
             outline: none;
             border-bottom: 4px solid $color_psu_primary;

            /* Чистка плейсхолдер текста при клике на поле */
            &::-webkit-input-placeholder {
                color: rgba($color_gray, 0.4);
                font-style: italic;
            }
         }

        &:hover {
            border-bottom: 4px solid $color_psu_primary;
        }

        &::placeholder {
            color: $color_text_primary;
            font-weight: 600;
        }
    }
</style>
