<template>
    <div class="unit">
        <p class="unit__post">
            <span v-if="unit.post" class="unit__post_item">{{ unit.post }}</span>
            <span
                    v-if="unit.title"
                    class="unit__post_title"
                    @click="setInputValue(unit.title)"
            >{{ unit.title }}</span>
        </p>
        <p v-if="unit.name" class="unit__name">{{ unit.name }}</p>
        <p v-if="unit.place" class="unit__place">{{ unit.place }}</p>
        <p v-if="unit.phones" class="unit__phones">{{ unit.phones }}</p>

        <p v-if="unit.email" class="unit__email">
            <a
                    v-for="email in unit.email.replace(new RegExp(' ', 'g'), '').split(',')"
                    :href="'mailto: ' + email "
                    :key="email"
            >{{ email }}</a>
        </p>

    </div>
</template>

<script>
    import {mapMutations} from 'vuex';

    export default {
        name: "Unit",
        props: ['unit'],
        methods: mapMutations(['setInputValue']),
    }
</script>

<style lang="scss" scoped>

    @import "../utils/variables";

    .unit {
        text-align: left;
        margin: 10px 20px 10px 30px;
        padding-bottom: 10px;

        & > p {
            margin: 5px;
            font-weight: 600;
        }

        &__post {
            font-weight: bold;
            font-size: 15pt;

            &_title {
                border: 2px solid $color_psu_primary;
                padding: 4px 6px 4px 6px;
                font-size: 10pt;
                display: inline-block;
                color: $color_psu_primary;

                &:hover {
                    color: $color_white;
                    background-color: $color_psu_primary;
                    cursor: pointer;
                }
            }

            &_item {
                display: inline-block;
                margin-right: 15px;
                font-weight: 700;
            }
        }

        &__email {
            a {
                color: $color_text_primary;
                border-bottom: 3px solid rgba($color_gray, 0.4);
                padding-bottom: 2px;
                text-decoration: none;
                margin-right: 15px;

                &:hover {
                    border-bottom: 3px solid $color_psu_primary;
                }
            }
        }
    }


    div > div > div .unit__email a:hover {
        border-bottom: 3px solid $color_blue;
    }

    div > div > div > div .unit__email a:hover {
        border-bottom: 3px solid $color_green;
    }

    div > div > div > div > div .unit__email a:hover {
        border-bottom: 3px solid $color_orange;
    }
</style>
