$mobile: "375px";
$tablet: "768px";
$desktop: "1024px";

$color_white: #ffffff;
$color_background: #e8e9e9;

$color_text_primary: #555555;
$color_gray: #808080;

$color_psu_primary: #c62e3e;
$color_blue: #2d7db8;
$color_green: #28a745;
$color_orange: #ff9800;

